class Sad < Formula
  desc "{{ desc }}"
  homepage "{{ project_repo }}"
  version "{{ version }}"
  bottle :unneeded

  url "{{ release_uri }}"
  sha256 "{{ sha256 }}"

  depends_on "fzf"
  depends_on "git-delta"

  def install
    bin.install "sad"
  end
end
