name: sad

base: core18

version: "{{ version }}"

summary: |-
  {{ desc | indent(2) }}

description: |-
  {{ long_desc | indent(2) }}


grade: stable
confinement: classic

apps:
  sad:
    command: /bin/sad

parts:
  sad:
    plugin: rust
    source: https://github.com/ms-jpq/sad.git
