---

name: CI

on:
  push:
    paths:
      - ".github/**"
      - "ci/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/**"
      - "tests/**"
  pull_request:
  schedule:
    - cron: "0 0 * * *" # daily

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2

      - name: Pip Packages
        run: pip install -U mypy types-PyYAML types-toml types-Jinja2

      - name: Lint
        run: mypy -- .

  build_macos:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: cargo test

      - name: Build
        run: cargo build --release --target=x86_64-apple-darwin

      - name: Package Artifacts
        run: |-
          zip -j artifacts/sad-macos.zip target/x86_64-apple-darwin/release/sad

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: sad-macos
          path: artifacts/sad-macos.zip

  build_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: ./ci/docker.py linux

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: sad-linux
          path: artifacts/sad-linux.zip

  build_debs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: ./ci/docker.py deb

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: sad-deb
          path: artifacts/sad.deb

  release:
    needs:
      - build_macos
      - build_ubuntu
      - build_debs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifacts macos
        uses: actions/download-artifact@v2
        with:
          name: sad-macos
          path: artifacts

      - name: Download Artifacts ubuntu
        uses: actions/download-artifact@v2
        with:
          name: sad-linux
          path: artifacts

      - name: Download Artifacts debian deb
        uses: actions/download-artifact@v2
        with:
          name: sad-deb
          path: artifacts

      - name: Confirm Download
        run: |-
          cd artifacts || exit 1
          ls -l

  install_macos:
    runs-on: macos-latest

    steps:
      - name: Homebrew
        run: brew install ms-jpq/sad/sad

      - name: Confirm Install
        run: brew list -1
